@import url('https://fonts.googleapis.com/css?family=Droid+Sans');/*--- Paragraph Font --*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed'); /*--- Headings Font --*/


*{
    margin:0;
    padding:0;
    padding: 0;
    
}

body {
    background-color: #F0F0F0;
    color: #555;
    font-family: 'Ubuntu condensed', 'sens-serif';
    line-height: 190%;
    text-align: center;
    text-transform: uppercase;
}
h3{
    font-size: 190%;
    padding: 5% 0%;
}
img  {
    max-width: 100%;
    
}
header{
    top: 0;
    background-color: #fff;
    height: 90px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    opacity: 0.9;
}
.header-top {
    font-size: 80%;
    background-color: #16214e;
    text-transform: none;
}

.top-left{
    padding: 5px 0px;
    margin-left: 60px;
    float: left;
}
.top-right {
    padding: 5px 20px;
    margin-right: 60px;
    float: right;
}

#header-inner {
    clear: both;
    max-width: 1200px;
    margin: 0 auto;
    border-top: .5px solid #333;
}
#logo{
    float: left;
    background: url('../img/logo-small.png') no-repeat center;
    width: 150px;
    height:86px;
    margin: 5px 10px ;
}
nav{
    float: right;
    padding: 10px 25px 0 0;
}
#menu-icon {
    background: url('../img/menu-icon-small.png') no-repeat center;
    height:40px;
    width:40px;
    display: none;
}
ul {
   list-style-type: none;
}
nav ul li {
    font-family: sans-serif;
    float: left;
    display: inline-block;
    font-size: 110%;
    padding: 10px;
}
nav ul li a {
    color: #000;
    text-decoration: none;
    font-weight: 700;
    text-transform: none;
}
a:hover, a .current {
    color:#ac2925;
    text-decoration: underline;
}
.top-action{
    margin-top: 0px;
    background: #405580;
    margin-top: 20px;
}
.top-action li {
    text-align: center;
    width: 100%;
    border-bottom:1px solid #fff;
}
.top-action li a{
    color: #fff;
}
.top-action li a:hover{
    background: #405580;
    text-decoration: none;
    color: #DD4A68;
}
/* start of slider*/


.one-third {
    width: 29%;
    float: left;
    margin: 2%;
}
.circle {
    margin: 0 auto;
    border-radius: 50%;
    background: #405580;
    width: 150px;
    height: 150px;
}
.one-third i {
    color: #F0F0F0;
    font-size: 550%;
    padding: 20%;
}
p{  padding: 2%;
    font-size: 125%;
    text-transform: none;
    font-family: 'Droid sans',sans-serif;
    text-align: justify;
}

.clearfix {
    clear: both;
    padding: 2%;
}

.one-third img {
    padding-bottom: 2%;
}

footer {
    background-color: #333;
    overflow: hidden;
}
#footer-inner {
    max-width: 1200px;
    margin: 0 auto;
}

footer .one-third {
    width: 33%;
    margin: 2% 0;
}
footer h3{
    color: #959595;
    
}
footer p{
    color: #959595;
    text-align: center;
}
#footer-third {
    border-right: 1px solid #959595;
}
footer a{
    color: #959595;
    text-orientation: none;
}
.social li {
    display: inline;
}
.social i {
    font-size: 200%;
    padding: 2% 4%;
    color: #959595;
}
.social i:hover {
    color: #F0F0F0;
}
.contact li{
    display: list-item;
}
.contact i {
    float: left;
    font-size: 100%;
    padding: 2% 6%;
    color: #959595;
}
.contact p{
    font-size: 110%;
}
footer.second {
    max-height: 80px;
    border-top: 1px solid #4d4e50;
    padding-bottom: 1%;
    opacity: .95;
    text-align: center;
}


@media screen and (max-width:768px){
    header{
        position: absolute;
    }
    #header-inner {
        height: 80px;
    }
    .top-left{
        margin-left: 5px;
        padding: 0px;
    }
    .top-right{
        margin-right: 5px;
    }
    #logo{
        z-index: 1080;
        width: 80px;
        margin-left: 5px;
        background: url('../img/logo-small-small.png') no-repeat center;
    }
    #menu-icon{
        float: right;
        right: 20px;
        top: 20px;
        display: inline-block;
    }
    nav ul li{
        width: 100%;
        text-align: center;
    }
    nav ul, nav:active ul{
        z-index: 1080;
        display: none;
        position: absolute;
        background: #0b1b3d;
        width: 100%;
        left: 0px;
        top: 80px;
        padding: 20px;
        border: 1px solid #fff;
    }
    .top-action{
        margin: 0px;
        width: 100%;
        position: relative;
        display: none ! important;
    }
    .posts:hover #posts,.home:hover #home,.user-management:hover #user-management{
        display: block ! important;
    }
    nav:hover ul{
        display: block 
    }
    .one-third{
        margin: 0px;
        width: 100%;
    }
    .circle{
        width: 100px;
        height: 100px;
    }
    .one-third i {
        font-size: 360%;
    }
    footer .one-third {
        width: 100%;
        margin: 0;
    }
}